

header{
	box-sizing: border-box;
	width: 800px;
	height: 200px;
	border: 3px solid red;
}

nav{
	box-sizing: border-box;
	width: 100px;
	height: 400px;
	border: 3px solid orangered;
}

section{
	box-sizing: border-box;
	width: 700px;
	height: 400px;
	border: 3px solid orangered;
}

footer{
	box-sizing: border-box;
	width: 800px;
	height: 200px;
	border: 3px solid grey;
}

.wrapper-second{
	display: flex;
}

.wrapper{
	box-sizing: border-box;
	border: 3px solid black;
	width: 800px;
	height: 800px;
}

h2{
	/* margin-top: 100px; */
	color: grey;
	text-align: center;
}

h3, h4, h5{
	margin: 5px;
	color: blue;
	font-size: 30px;
	text-align: center;
}

h6{
	text-align: center;
	margin: 20px;
	color: red;
	font-size: 40px;
}

span{
	color: rgb(32, 128, 8);
	font-size: 30px;
	font-style: italic;
}